# Basic settings
threads={{ PDNS_RECURSOR_THREADS }}
daemon=no
quiet=no
disable-syslog=yes
local-address={{ PDNS_RECURSOR_LISTEN_ADDRESS }}
pdns-distributes-queries=yes

# Forward zones
forward-zones={{ PDNS_RECURSOR_LOCAL_ZONE }}={{ PDNS_RECURSOR_LOCAL_DNS_ADDRESS }}:{{ PDNS_RECURSOR_LOCAL_DNS_PORT }}

# Upstream resolvers
forward-zones-recurse=.={{ PDNS_RECURSOR_UPSTREAM_RESOLVERS }}

# API settings
webserver=yes
webserver-address={{ PDNS_RECURSOR_WEB_SERVER_LOCAL_ADDRESS }}
webserver-port={{ PDNS_RECURSOR_WEB_SERVER_LOCAL_PORT }}
webserver-allow-from={{ PDNS_RECURSOR_WEB_SERVER_ALLOW_FROM }}
api-key={{ PDNS_RECURSOR_API_KEY }}
