[Unit]
Description=Load Firewall Rules
DefaultDependencies=no
Wants=network-pre.target systemd-modules-load.service local-fs.target
Before=network-pre.target shutdown.target
After=systemd-modules-load.service local-fs.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firewall-rules
ExecStop=/usr/sbin/nft flush ruleset
ExecReload=/usr/local/bin/firewall-rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
