ansible/collections/*
!ansible/collections/.gitkeep
ansible/external-roles/*
!ansible/external-roles/.gitkeep
terraform/modules/*
!terraform/modules/.gitkeep
ansible/.ansible_vault_password
*.retry
*debug*
.terraform
.terraform.lock.hcl
.terragrunt-cache
terraform.tfstate
terraform.tfstate.backup
backend.tf
.envrc
