ansible/collections/*
!ansible/collections/.gitkeep
ansible/external-roles/*
!ansible/external-roles/.gitkeep
ansible/.ansible_vault_password
*.retry
*debug*
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
backend.tf
