#!/bin/bash

# {{ ansible_managed }}

{% for iptables_version in [ 'iptables', 'ip6tables' ] %}
{{iptables_version }} -F
{{iptables_version }} -t nat -F
{{iptables_version }} -X
{{iptables_version }} -P INPUT DROP
{{iptables_version }} -P FORWARD DROP
{{iptables_version }} -P OUTPUT ACCEPT

# Allow localhost
{{iptables_version }} -A INPUT -i lo -j ACCEPT
{{iptables_version }} -A OUTPUT -o lo -j ACCEPT

{% if FIREWALL_MAC_RESTRICTION_ENABLED %}
{% for MAC_INFO in FIREWALL_MAC_WHITELIST %}
{{iptables_version }} -A FORWARD -i {{ MAC_INFO.INTERFACE }} -m mac ! --mac-source {{ MAC_INFO.MAC_ADDRESS }} -j LOG --log-prefix "Rejected MAC: "
{{iptables_version }} -A FORWARD -i {{ MAC_INFO.INTERFACE }} -m mac --mac-source {{ MAC_INFO.MAC_ADDRESS }} -j ACCEPT
{% endfor %}
{% endif %}

# WAN rules - Allow established connections
{% for chain in [ 'INPUT', 'FORWARD' ] %}
{{iptables_version }} -A {{ chain }} -i {{ FIREWALL_WAN_INTERFACE }} -m state --state ESTABLISHED,RELATED -j ACCEPT
{% endfor %}

{% if FIREWALL_SSH_ENABLED %}
# Open SSH port
{{iptables_version }} -A INPUT -p tcp --dport {{ FIREWALL_SSH_PORT }} -j LOG --log-prefix "Incoming SSH: "
{{iptables_version }} -A INPUT -p tcp --dport {{ FIREWALL_SSH_PORT }} -j ACCEPT
{% endif %}

{% if FIREWALL_OPEN_PORTS_ENABLED %}
{% for PORT_INFO in FIREWALL_OPEN_PORTS %}
# Open ports
{% if PORT_INFO.LOG_PREFIX is defined %}
{{iptables_version }} -A INPUT -i {{ PORT_INFO.INTERFACE }} -p {{ PORT_INFO.PROTOCOL }} --dport {{ PORT_INFO.PORT }} -j LOG --log-prefix "{{ PORT_INFO.LOG_PREFIX }}: "
{% endif %}
{{iptables_version }} -A INPUT -i {{ PORT_INFO.INTERFACE }} -p {{ PORT_INFO.PROTOCOL }} --dport {{ PORT_INFO.PORT }} -j ACCEPT
{% endfor %}
{% endif %}

{% if FIREWALL_PORT_FORWARDING_ENABLED %}
{% for PORT_INFO in FIREWALL_FORWARDED_PORTS %}
# Port Forwarding rules
{% if PORT_INFO.LOG_PREFIX is defined %}
{{iptables_version }} -A FORWARD -i {{ FIREWALL_WAN_INTERFACE }} -o {{ FIREWALL_WAN_INTERFACE }} -p {{ PORT_INFO.PROTOCOL }} --dport {{ PORT_INFO.DEST_HOST }} -j LOG --log-prefix "Forwarded to {{ PORT_INFO.DEST_HOST }}: "
{% endif %}
{{iptables_version }} -t nat -A PREROUTING -i {{ FIREWALL_WAN_INTERFACE }} -p {{ PORT_INFO.PROTOCOL }} --dport {{ PORT_INFO.PORT }} -j DNAT --to {{ PORT_INFO.DEST_HOST }}:{{ PORT_INFO.DEST_PORT }}
{{iptables_version }} -A FORWARD -i {{ FIREWALL_WAN_INTERFACE }} -p {{ PORT_INFO.PROTOCOL }} --dport {{ PORT_INFO.DEST_PORT }} -d {{ PORT_INFO.DEST_HOST }} -j ACCEPT
{% endfor %}
{% endif %}

# LAN rules - Allow all outgoing connections and their replies
{{iptables_version }} -A FORWARD -i {{ FIREWALL_LAN_INTERFACE }} -o {{ FIREWALL_WAN_INTERFACE }} -j ACCEPT

# NAT for WAN interface to provide Internet for LAN
{{iptables_version }} -t nat -A POSTROUTING -o {{ FIREWALL_WAN_INTERFACE }} -j MASQUERADE
{% endfor %}

{% for RULES in FIREWALL_ADDITIONAL_RULES %}
{{ RULES }}
{% endfor %}

# Save rules so that they get applied once the firewall restarts
iptables-save > /etc/iptables/rules.v4
ip6tables-save > /etc/iptables/rules.v6
