interface {{ FIREWALL_LAN_INTERFACE }} {
    AdvSendAdvert on;
    AdvManagedFlag on;
    AdvOtherConfigFlag on;
    prefix {{ KEA_SUBNET6 }} {
        AdvOnLink on;
        # Turn off IPv6 Stateless Address Auto-Configuration (SLAAC)
        AdvAutonomous off;
        AdvRouterAddr on;
    };
};
